use Mix.Config

config :nadia, token: ""

config :tg_webhooks_bot, TgWebhooksBot.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "tg_webhooks_bot_repo",
  username: "",
  password: "",
  hostname: "localhost"
