use Mix.Config

config :nadia, token: ""

config :tg_webhooks_bot, cowboy_options: [
  port: 443,
  keyfile: "/etc/letsencrypt/live/tg.dsh.li/privkey.pem",
  certfile: "/etc/letsencrypt/live/tg.dsh.li/cert.pem",
  cacertfile: "/etc/letsencrypt/live/tg.dsh.li/chain.pem"
]

config :tg_webhooks_bot, host_url: "https://tg.dsh.li"