use Mix.Config

config :nadia, token: ""

config :tg_webhooks_bot, TgWebhooksBot.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "tg_webhooks_bot_repo",
  username: System.get_env("PG_USERNAME"),
  password: System.get_env("PG_PASSWORD"),
  hostname: System.get_env("PG_HOST"),
  pool_size: 100

config :tg_webhooks_bot, cowboy_options: [
  port: 443,
  keyfile: "/etc/letsencrypt/live/tg.dsh.li/privkey.pem",
  certfile: "/etc/letsencrypt/live/tg.dsh.li/cert.pem",
  cacertfile: "/etc/letsencrypt/live/tg.dsh.li/chain.pem"
]

config :tg_webhooks_bot, webhook_url: "https://tg.dsh.li/cmd/"